/* text formatting */
h1.splash {
    font-family: 'Lato', -sans-serif; 
    font-weight: 300;
    text-transform: uppercase;
    font-size: 3em; 
    letter-spacing: 0.5em;
    color: #ffffff;  
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

/* LESS THAN 75 */
@media (max-width: 74.9em) {
      h1.splash {
        font-size: 3em;
        
      }
 }

/* LESS THAN 62 */
@media (max-width: 61.9em) {
      h1.splash {
        font-size: 2.0em;
      }
}

/* LESS THAN 48 */
@media (max-width: 47.9em) {
      h1.splash {
        font-size: 2em;
      }
}

/* LESS THAN 34 */
@media (max-width: 33.9em) { 
      h1.splash {
        font-size: 1.2em;
        letter-spacing: 0.2em;
      }
}

